#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}
#contact .person{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#contact .person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}